:root {
    --primary: #FFBF23;
    --secondary: #181818;
    --tertiary: #fac849;
    --nav-height: 76px;
}

body {
    font-family: 'Montserrat', system-ui, sans-serif;
    scroll-behavior: smooth;
    background: white;
    color:var(--secondary);
}

html {
    scroll-behavior: smooth;
}


.active {
    color: var(--secondary) !important;
}

nav a {
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav a.active {
    color: #181818;
    border-bottom: 2px solid #181818;
}
